
<section class="col-4">
    <div class="bg-gray text-center">
        <h4>کارتابل شما</h4>
        <div class="bg-white container pt-2 pb-2">
            <ul class="list-group">

                <li>
                    <a href="/Admin/Dashboard/Index"
                       class="list-group-item d-flex justify-content-between align-items-center">
                        داشبورد
                    </a>
                </li>
                <hr class="bg-black">
                <li>
                    <a href="/Admin/Users/UsersList"
                       class="list-group-item d-flex justify-content-between align-items-center">
                        مشاهده
                        تمامی پرسنل
                    </a>
                </li>
                <li>
                    <a href="/Admin/Users/Create"
                       class="list-group-item d-flex justify-content-between align-items-center">
                        افزودن
                        پرسنل جدید
                    </a>
                </li>
                <hr class="bg-black">
                <li>
                    <a href="/Admin/Departments/DepartmentList"
                       class="list-group-item d-flex justify-content-between align-items-center">
                        مشاهده
                        دپارتمان ها
                    </a>
                </li>
                <li>
                    <a href="/Admin/Departments/Create"
                       class="list-group-item d-flex justify-content-between align-items-center">
                        افزودن
                        دپارتمان جدید
                    </a>
                </li>
                <li>
                    <a href="/Personnel/Dashboard/Index"
                       class="list-group-item d-flex justify-content-between align-items-center">
                        پنل اتوماسیون
                    </a>
                </li>
                <hr class="bg-black">
                <li>
                    <a href="/Home/SignOut"
                       class="list-group-item d-flex justify-content-between align-items-center">
                        خروج از حساب کاربری
                    </a>
                </li>
            </ul>

        </div>
    </div>
</section>


