
@{
    ViewBag.Title = "صفحه‌ی ورود";
}

<main class="container-fluid text-center text-white d-flex justify-content-center align-items-center flex-column">
    <section class="row">
        <div class="btn btn-info m-5 p-5  btn-outline-dark border-4 font-weight-bolder">
            <a href="/Admin/Dashboard/Index" class="text-white text-decoration-none fw-bolder enter-font-size">فرم ورود ادمین ها</a>
        </div>

    </section>
    <section class="row">

        <div class="btn btn-info m-5 p-5 btn-outline-dark border-5">
            <a href="/Home/PersonnelLogin" class="text-white text-decoration-none fw-bolder enter-font-size">فرم ورود پرسنل</a>
        </div>

    </section>
</main>


